*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: blueviolet;
}

.wrapper{
    width: 100%;
    margin: auto;
}

.container{
    width: 450px;
    height: 260px;
    background-color: white;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1{
    text-align: center;
    color: burlywood;
    margin-top: 15px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

select{
    width: 160px;
    height: 35px;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    outline: none;
}

input{
    width: 160px;
    height: 35px;
    border: .5px solid black;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 18px;
}

.left-box{
    margin-right: 35px;
}

.bottom-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

button{
    height: 35px;
    width: 345px;
    font-size: 18px;
    color: white;
    background-color: rgb(162, 86, 232);
    border: none;
}

.image{
    position: absolute;
    right: 210px;
    transform: rotate(90deg);
}